<header>
  <h1 class="index">Let's figure out where you should live</h1>

  <h1 class="index_about">Pick one thing you're most interested in:</h1>
</header>

<div class="first-container">
  <div class="categories-buttons">
    
  </div>
  
  <div class="bar-pie-charts">
    <div class="bar-chart">
      <canvas id="bar-chart" width="400" height="400"></canvas>

    </div>

    <div class="pie-chart">
      <canvas id="pie-chart" width="400" height="400"></canvas>
      <h1 id="top-city"></h1>
    </div>
  </div>
</div>

<div class="second-container">
  <div class="comparison">
    <div class="comparison-text">

    </div>
    <div class="comparison-buttons">

    </div>
  </div>

  <div class="radar-chart">
    <canvas id="radar-chart" width="600" height="600"></canvas>
  </div>
</div>
 