<div class="greetings">
  <h1 class="index">
  HELLO... 
  </h1>
  <h1 class="index_about">
  WHERE TO HELPS YOU TO FIGURE OUT WHERE TO MEET UP.  
  </h1>
</div>
<div class="content_wrapper">
  <div class="content"> content</div>
  <div class="content_text">text</div>
</div>