<div class="first-container">
  <div class="start">
    <h1>There are over 2M cities in the world</h1>
    <h4>Come and see which one is right for you</h4>
  </div >

  <div id="letsgo">

  <a href="#compare-me" class="letsgo-btn smoothScroll" >Let's go</a>
    
  </div>
</div>

<div id="compare-me" class="second-container">
  <h1 id="pick-one">Pick one thing you're most interested in:</h1>

  <div class="categories-buttons">
  </div>

  <h3 id="loading"></h3>

  <div class="bar-pie-charts">
    <div class="bar-chart">
      <canvas id="bar-chart" width="400" height="400"></canvas>
    </div>

    <div class="pie-chart">
      <canvas id="pie-chart" width="300" height="300"></canvas>
      <div>
      <h1 id="top-city"></h1>
      <p id="top-city-category-groups"></p>
      <p id="top-city-category-groups2"></p>
      </div>
    </div>
  </div>

  <div id="compare">
    <div class="comparison">
      <div class="comparison-text">
      </div>

      <div class="comparison-buttons">
      </div>
    </div>
  </div>
</div>

<div class="third-container">
  <h3 id="loading2"></h3>

  <div class="radar-chart">
    <canvas id="radar-chart"></canvas>
  </div>

  <br><br><br>

   <div class ="go-to-map "></div>
</div>

<div class="fourth-container">
  <h2 id="to-map" >click on a city you feel like going to</h2>

  <div  class="map">
    <div id="map"></div>
  </div>

  <a href="#compare-me" class="letsgo-btn smoothScroll">back to top</a>
</div>

<br><br>
