body {
    margin: 0;
    text-transform: uppercase;
    font-size: 11px;
    font-family: Menlo, regular;
    font-weight: normal;
    letter-spacing: 1px;
    color: #808080;
    background: #f2f1f1;
    text-align: center;

  }


.container {
    margin: 0 auto;
    size: 88%;
}





.content_wrapper {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  border: solid #808080 bold;
  border-radius: 10px;
}

.content {
  border: solid #808080 bold;
  width: 60%;
}
.content_text {
  border: solid #808080 bold;
  width: 38%;
}


.first-container {
  height: 100vh;

}

.second-container {
    width: 100%;
    text-align: center;
    height: 100vh;
}
.third-container {
    width: 100%;
    text-align: center;
    height: 100vh;
}

#pick-one {
  padding-top: 2em;
}
.category-button {
  font-family: Menlo, regular;
  color: #000000;
  font-size: 10px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
  margin: 1px;
}

.categories-buttons {
  text-align: center;
}

.category-button:hover {
  background: #fffd6a;
  text-decoration: none;
}

.category-button:focus {
  background-color:#fffd6a;
  outline: 0;
}

.bar-pie-charts {
    display: flex;
    justify-content: space-around;
    margin: 3em 3em  0px 3em;
    vertical-align: middle;
    
    

}

.bar-chart {
  padding-top: 4  0px;

}




.comparison {
  
  margin: auto;
  display: inline-block;
  justify-content: space-around;
  margin: 3em;

}

.comparison-text {
  width: 34%;
  display: inline-block;
  

}

.comparison-buttons {
  width: 66%;
  display: inline-block;

}

.compare-button {
  font-family: Menlo, regular;
  color: #000000;
  font-size: 10px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
  margin: 1px;
  display: inline-block;
}

.compare-button:hover {
  background: #fffd6a;
  text-decoration: none;
}

.compare-button:focus {
  background-color:#fffd6a;
  outline: 0;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}
#loading {
  padding-top: 170px;
}

#loading2 {
  padding-top: 170px;
}

.start {
  padding: 300px 300px 0px 300px  ;
}

#letsgo {
  margin-top: 50px;
}


