body {
    margin: 0;
    text-transform: uppercase;
    font-size: 11px;
    font-family: Menlo, regular;
    font-weight: normal;
    letter-spacing: 1px;
    color: #808080;
    background: #f2f1f1;
    text-align: center;

  }


.container {
    margin: 0 auto;
    size: 88%;
}

header {

  text-align: center;
}

.footer {
  padding-left: 10%;
}

.greetings {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  border: solid #808080 bold;
  border-radius: 10px;
}

.content_wrapper {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  border: solid #808080 bold;
  border-radius: 10px;
}

.content {
  border: solid #808080 bold;
  width: 60%;
}
.content_text {
  border: solid #808080 bold;
  width: 38%;
}



.category-button {
  font-family: Menlo, regular;
  color: #000000;
  font-size: 10px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
  margin: 1px;
}

.categories-buttons {
  text-align: center;
}

.category-button:hover {
  background: #ef4b5d;
  text-decoration: none;
}

.category-button:focus {
  background-color:#ef4b5d;
  outline: 0;
}

.bar-pie-charts {
    display: flex;
    justify-content: space-around;
    margin: 3em;
    vertical-align: middle;


}

.bar-chart {
  padding-top: 4  0px;

}

.second-container {
    width: 100%;
    text-align: center;
}


.comparison {

  margin: auto;
  display: inline-block;
  justify-content: space-around;
  margin: 3em;

}

.comparison-text {
  width: 34%;
  display: inline-block;


}

.comparison-buttons {
  width: 66%;
  display: inline-block;

}

.compare-button {
  font-family: Menlo, regular;
  color: #000000;
  font-size: 10px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
  margin: 1px;
  display: inline-block;
}

.compare-button:hover {
  background: #ef4b5d;
  text-decoration: none;
}

.compare-button:focus {
  background-color:#ef4b5d;
  outline: 0;
}

/* MAP STYLING */
#map {
  background-color: transparent;
  /*border: 1px solid #ccc;*/
}
.background {
  fill: none;
  pointer-events: all;
}
#countries, #states {
  fill: #00adb3;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}
#countries .active, #states .active {
  fill: #89a;
}
#cities {
  stroke-width: 0;
}
.city {
  fill: #345;
  stroke: #fff;
}
pre.prettyprint {
  border: 1px solid #ccc;
  margin-bottom: 0;
  padding: 9.5px;
}
div.tooltip {
  color: #222;
  background: #fff;
  padding: .5em;
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  opacity: 0.9;
  position: absolute;
}
