<!DOCTYPE html>
<html>
<head>
  <script src="//code.jquery.com/jquery-2.0.0.js"></script>
  <title>MeetData</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

  <%= yield %>

  </div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
